@charset "UTF-8";
/* ABSTRACTS (variables mixins)*/
/*   BASE resets tipografias estilos globales */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #151515;
}

/* ================================
   Base Typography
   ================================ */
body {
  font-family: "Space Grotesk", sans-serif;
  font-size: 1.8rem;
  line-height: 2.8rem;
  font-weight: 500;
  color: #fff;
}

h1 {
  font-family: "Space Grotesk", sans-serif;
  font-size: 8.8rem;
  line-height: 8.8rem;
  font-weight: 700;
  letter-spacing: -0.25rem;
}

h2 {
  font-family: "Space Grotesk", sans-serif;
  font-size: 4.8rem;
  line-height: 5.6rem;
  font-weight: 700;
  letter-spacing: -0.15rem;
}

h3 {
  font-family: "Space Grotesk", sans-serif;
  font-size: 2.4rem;
  line-height: 3.2rem;
  font-weight: 700;
}

.text-body {
  font-family: "Space Grotesk", sans-serif;
  font-size: 1.8rem;
  line-height: 2.8rem;
  font-weight: 500;
}

/*  LAYOUT  estructura general del sitio*/
header {
  margin: 0 auto;
}
header .header--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  margin-top: 20px;
}
header .header--container .header--svg-container {
  display: flex;
  gap: 20px;
}

/* Mobile moderno (≥375px) */
/* Tablet (≥768px) */
/* Desktop (≥1440px) */
section.heroe {
  margin: 0 auto;
  margin-top: -8rem;
  overflow-x: hidden;
}
section.heroe .heroe--container {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin-left: 3%;
  margin-right: 3%;
}
section.heroe .heroe--container::before {
  content: "";
  position: absolute;
  top: 60px;
  left: -520px;
  width: 200%;
  aspect-ratio: 400/129;
  background-image: url("../../img/icon/oval-pattern.svg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  pointer-events: none;
  z-index: -100;
}
section.heroe .heroe--container::after {
  content: "";
  position: absolute;
  width: 129px;
  height: 129px;
  right: -80px;
  bottom: 268px;
  background-image: url("../../img/icon/Oval-heroe.svg");
  background-repeat: no-repeat;
  background-size: contain;
  pointer-events: none;
  z-index: 0;
}
section.heroe .heroe--container .heroe--text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 20px;
}
section.heroe .heroe--container .heroe--text-container h2 {
  align-self: center;
  font-size: 4rem;
  line-height: 4rem;
}
section.heroe .heroe--container .heroe--text-container h2 span {
  position: relative;
}
section.heroe .heroe--container .heroe--text-container h2 span::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 4px;
  background-color: #4EE1A0;
  border-radius: 5px;
}
section.heroe .heroe--container .heroe--text-container a {
  position: relative;
}
section.heroe .heroe--container .heroe--text-container a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -8px;
  width: 100%;
  height: 4px;
  background-color: #4EE1A0;
  border-radius: 5px;
  padding-bottom: 5px;
}

/* Mobile moderno (≥375px) */
/* Tablet (≥768px) */
/* Desktop (≥1440px) */
section.projects {
  margin: 0 auto;
  margin-top: 80px;
  margin-bottom: 80px;
}
section.projects .projects--container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
}
section.projects .projects--container .projects--header {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
section.projects .projects--container .projects--header h2 {
  font-size: 4rem;
  font-weight: 600;
}
section.projects .projects--container .projects--header a {
  position: relative;
}
section.projects .projects--container .projects--header a span {
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 2px;
  font-weight: 200;
}
section.projects .projects--container .projects--header a span::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -8px;
  width: 100%;
  height: 2px;
  background-color: #4EE1A0;
  border-radius: 5px;
}
section.projects .projects--container article.projects--card {
  position: relative;
  outline: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
section.projects .projects--container article.projects--card:focus-within .projects--img img {
  opacity: 0.3;
}
section.projects .projects--container article.projects--card:focus-within .skills--a-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 50px;
  bottom: 150px;
  left: 100px;
}
section.projects .projects--container article.projects--card:focus-within .skills--a-container a:hover {
  color: #4EE1A0;
}
section.projects .projects--container article.projects--card .projects--img {
  transition: opacity 0.3s ease;
}
section.projects .projects--container article.projects--card h3 {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1.8rem;
}
section.projects .projects--container article.projects--card p {
  font-weight: 300;
  font-size: 1.5rem;
}
section.projects .projects--container article.projects--card .skills--a-container {
  margin-top: 10px;
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: flex-start;
}
section.projects .projects--container article.projects--card .skills--a-container a {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 200;
  font-size: 1.4rem;
}
section.projects .projects--container article.projects--card .skills--a-container a span {
  position: relative;
}
section.projects .projects--container article.projects--card .skills--a-container a span::after {
  content: "";
  position: absolute;
  background-color: #4EE1A0;
  height: 2px;
  width: 100%;
  border-radius: 5px;
  bottom: -12px;
  left: 0;
}

/* Mobile moderno (≥375px) */
/* Tablet (≥768px) */
/* Desktop (≥1440px) */
section.skills {
  margin: 0 auto;
}
section.skills .skills--limit {
  width: 90%;
  height: 1px;
  align-self: center;
  margin: 0 auto;
  margin-bottom: 50px;
  margin-top: 70px;
  opacity: 50%;
}
section.skills .skills--container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  justify-content: center;
}
section.skills .skills--container::before {
  content: "";
  position: absolute;
  top: 500px;
  left: 200px;
  width: 200%;
  aspect-ratio: 400/129;
  background-image: url("../../img/icon/oval-pattern.svg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  pointer-events: none;
  z-index: -100;
}
section.skills .skills--container .skills--unit {
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: center;
  justify-content: center;
}

/* Mobile moderno (≥375px) */
/* Tablet (≥768px) */
/* Desktop (≥1440px) */
section.contact {
  margin: 0 auto;
  background-color: #242424;
  padding-bottom: 50px;
  overflow: hidden;
}
section.contact .contact--limit {
  align-self: center;
  width: 90% !important;
  height: 1px;
  margin: 0 auto;
  margin-bottom: 50px;
  margin-top: 70px;
  opacity: 50%;
}
section.contact .contact--container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 0;
}
section.contact .contact--container::before {
  content: "";
  position: absolute;
  top: 465px;
  left: -250px;
  width: 110%;
  height: 140%;
  aspect-ratio: 500/200;
  background-image: url("../../img/icon/oval-pattern.svg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  pointer-events: none;
  z-index: -1;
}
section.contact .contact--container .contact--header {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
section.contact .contact--container .contact--header h3 {
  font-size: 3rem;
}
section.contact .contact--container .contact--header p {
  font-size: 1.6rem;
  font-weight: 300;
  text-align: center;
  padding: 20px;
}
section.contact .contact--container .contact--form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
section.contact .contact--container .contact--form-container a {
  align-self: flex-end;
  padding-right: 5%;
  margin-top: 40px;
}
section.contact .contact--container .contact--form-container a:hover {
  color: #4EE1A0;
}
section.contact .contact--container .contact--form-container a span {
  position: relative;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 2px;
  font-weight: 200;
}
section.contact .contact--container .contact--form-container a span::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  width: 100%;
  height: 2px;
  background-color: #4EE1A0;
  border-radius: 5px;
}
section.contact .contact--container .contact--form-container .contact--form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
  width: 90%;
}
section.contact .contact--container .contact--form-container .contact--form .sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}
section.contact .contact--container .contact--form-container .contact--form input {
  font-size: 1.6rem;
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
  color: inherit;
  font: inherit;
  border-bottom: 1px solid #d9d9d9;
  height: 6rem;
  width: 100%;
  padding-left: 20px;
}
section.contact .contact--container .contact--form-container .contact--form input:hover {
  border-bottom-color: #4EE1A0;
}
section.contact .contact--container .contact--form-container .contact--form .field {
  position: relative;
}
section.contact .contact--container .contact--form-container .contact--form .field .icon--error {
  display: none;
}
section.contact .contact--container .contact--form-container .contact--form .field .error--message {
  display: none;
}
section.contact .contact--container .contact--form-container .contact--form .field #email:not(:-moz-placeholder):invalid {
  border-bottom-color: #FF6F5B;
}
section.contact .contact--container .contact--form-container .contact--form .field #email:not(:placeholder-shown):invalid {
  border-bottom-color: #FF6F5B;
}
section.contact .contact--container .contact--form-container .contact--form .field #email:not(:-moz-placeholder):invalid ~ .icon--error {
  display: block;
  position: absolute;
  top: 15px;
  right: 5px;
}
section.contact .contact--container .contact--form-container .contact--form .field #email:not(:placeholder-shown):invalid ~ .icon--error {
  display: block;
  position: absolute;
  top: 15px;
  right: 5px;
}
section.contact .contact--container .contact--form-container .contact--form .field #email:not(:-moz-placeholder):invalid ~ .error--message {
  display: block;
  position: absolute;
  top: 65px;
  right: 5px;
  font-size: 1.2rem;
  color: #FF6F5B;
}
section.contact .contact--container .contact--form-container .contact--form .field #email:not(:placeholder-shown):invalid ~ .error--message {
  display: block;
  position: absolute;
  top: 65px;
  right: 5px;
  font-size: 1.2rem;
  color: #FF6F5B;
}
section.contact .contact--container .contact--form-container .contact--form textarea {
  font-size: 1.6rem;
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
  color: inherit;
  font: inherit;
  border-bottom: 1px solid #fff;
  height: 6rem;
  width: 100%;
  padding-left: 20px;
  resize: none;
  min-height: 100px;
}
section.contact .contact--container .contact--form-container .contact--form textarea:hover {
  border-bottom-color: #4EE1A0;
}

/* Mobile moderno (≥375px) */
/* Tablet (≥768px) */
/* Desktop (≥1440px) */
/*    COMPONENTS botones tarjetas etc*/
/*    PAGES   estilos especificos para cada pagina*/
/*   THEMES    */
/*  VENDORS    codigo de terceros*//*# sourceMappingURL=style.css.map */