@use "../abstracts/mixins" as mx;
@use "../abstracts/variables" as var;

footer{
    margin: 0 auto;
    background-color: var.$gray-dark;
    margin-top: 0;
    padding-bottom: 50px;
    .footer--container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        .footer--svg-container{
            display: flex;
            gap: 20px;
        }
    }
}


/* Mobile moderno (≥375px) */
  @include mx.mobile {
    
  }

  /* Tablet (≥768px) */
  @include mx.tablet {
    
  }

  /* Desktop (≥1440px) */
  @include mx.desktop {
    
  }