@use "../abstracts/mixins" as mx;
@use "../abstracts/variables" as var;

footer{    
    background-color: var.$gray-dark;
    margin-top: 0;
    padding-bottom: 50px;
    .footer--container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        .footer--svg-container{
            display: flex;
            gap: 20px;
        }
    }

  /* Tablet (≥768px) */
  @include mx.tablet {
    padding-bottom: 30px;
    .footer--container{
        display: flex;
        flex-direction: row;        
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        width: 90%;
    }
  }

  /* Desktop (≥1440px) */
  @include mx.desktop {
    padding-bottom: 10px;
    padding-top: 5px;
    .footer--container{
        margin-left: 8%;
    }
  }


}


