@use "../abstracts/mixins" as mx;
@use "../abstracts/variables" as var;

header{
    margin: 0 auto;
    .header--container{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        margin-top: 20px;
    }
}


/* Mobile moderno (≥375px) */
  @include mx.mobile {
    
  }

  /* Tablet (≥768px) */
  @include mx.tablet {
    
  }

  /* Desktop (≥1440px) */
  @include mx.desktop {
    
  }