@use "../abstracts/mixins" as mx;
@use "../abstracts/variables" as var;

header{   
    .header--container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        margin-top: 20px;
        .header--svg-container{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;
        }          
    }

  /* Tablet (≥768px) */
  @include mx.tablet {
    position: relative;
    z-index: 10;    
    .header--container{        
        position: relative;
        z-index: 0;
        flex-direction: row;
        margin-left: 50px;
        .header--logo{
            flex: 2;
        }
        .header--svg-container{
            flex: 1;
            justify-content: flex-start;
        }        
    }
  }

  /* Desktop (≥1440px) */
  @include mx.desktop {
    .header--container{
        margin-inline: 8%;
        width: 100%;        
        .header--svg-container{
            position: relative;
            right: 100px;
            justify-self: flex-end;
            gap: 40px;
        }

    }
  }    

}

