@use "../abstracts/mixins" as mx;
@use "../abstracts/variables" as var;

section.heroe{    
    margin-top: -8rem;
    overflow-x: hidden;    
    .heroe--container{
        position: relative;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        gap: 40px;        
        &::before{
            content: "";
            position: absolute; 
            top: 60px;
            left: -520px;
            width: 200%;
            aspect-ratio: 400 / 129;                     
            background-image: url("../img/icon/oval-pattern.svg");
            background-repeat: no-repeat;
            background-size: 100% auto;
            pointer-events: none;
            z-index: -100; 
        }
        &::after {
            content: "";
            position: absolute;
            width: 129px;          
            height: 129px;
            right: -50px;          
            bottom: 268px;
            background-image: url("../img/icon/Oval-heroe.svg");
            background-repeat: no-repeat;
            background-size: contain;
            pointer-events: none;
            z-index: 0;
        }
        .heroe--text-container{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            gap: 20px;
            h2{
                align-self: center;
                font-size: 4rem;
                line-height: 4rem;
                span{
                    position: relative;
                    &::after {
                        content: "";
                        position: absolute;
                        left: 0;
                        bottom: -2px;                
                        width: 100%;                   
                        height: 4px;                   
                        background-color: var.$green;  
                        border-radius: 5px;           
                    }
                }
            } 
            a{
              position: relative;
                text-transform: uppercase;
                &::after {
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: -8px;                
                    width: 100%;                   
                    height: px;                   
                    background-color: var.$green;  
                    border-radius: 5px; 
                    padding-bottom: 3px;          
                }  
            }
        }
    } 


  /* Tablet (≥768px) */
  @include mx.tablet {
    margin-top: -50px;
    .heroe--container{ 
        position: relative;       
        display: flex;        
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        width: 100%;
        gap: 80px;       
        &::before{
            content: "";             
            top: 20px;
            left: -520px;
            width: 100%;            
        }
        &::after {
            content: "";
            position: absolute;
            width: 129px;          
            height: 129px;
            right: -40px;          
            bottom: -5px;
            
        }
        .heroe--text-container{       
            justify-content: flex-start;
            text-align: left;
            gap: 20px;
            flex: 1;
            margin-left: 50px;
            width: 100%;
            h2{
                position: absolute;
                top: 25%;
                left: 5%;
                align-self: left;
                font-size: 7rem;
                line-height: 8rem;
                z-index: 10;
                max-width: 60%;
                span{
                    position: relative;
                    &::after {
                        content: "";
                        position: absolute;
                        left: 0;
                        bottom: -2px;                
                        width: 100%;                   
                        height: 4px;                   
                        background-color: var.$green;  
                        border-radius: 5px;           
                    }
                }
            }
            p{
                position: absolute;                
                top: 75%;
                left: 5%;
                font-size: 2rem;
                font-weight: 400;
                z-index: 10;
                max-width: 60%;
            } 
            a{
                position: absolute;                
                top: 95%;
                left: 5%; 
                font-size: 2.5rem; 
                font-weight: 400;
                &::after{                    
                    bottom: -10px;
                    height: 4px;
                }              
            }
        }
        .heroe--avatar-container{
            flex: 1; 
            position: relative;                                             
        }
    }
    
  }

  /* Desktop (≥1440px) */
  @include mx.desktop {
    margin-top: -145px;
    .heroe--container{ 
        margin-inline: 5%;        
        justify-content: flex-end;
        width: 100%;
        gap: 80px;       
        &::before{
            content: "";             
            top: 70px;
            left: -200px;
            width: 50%;            
        }
        &::after {
            content: "";
            position: absolute;
            width: 129px;          
            height: 129px;
            right: 650px;          
            bottom: 60px;
            
        }
        .heroe--text-container{ 
            .line--jump{
                display: none;
            }           
            gap: 20px;
            flex: 1;
            margin-left: 50px;
            width: 100%;
            h2{
                position: absolute;
                top: 30%;
                left: 3%;                
                font-size: 8.5rem;
                line-height: 8.5rem;
                z-index: 10;
                max-width: 50%;               
            }
            p{                              
                top: 65%;
                left: 3%;
                font-size: 2rem;                
                max-width: 32%;
            } 
            a{
                top: 85%;
                left: 3%; 
                font-size: 2rem; 
                font-weight: 400;                             
            }
        }
        .heroe--avatar-container{
            flex: 1; 
            position: relative;
            left: -50px; 
            width: 100%;                                            
        }
    }
    
  }
}


