@use "../abstracts/mixins" as mx;
@use "../abstracts/variables" as var;

section.projects{    
    margin-top: 80px;
    margin-bottom: 80px;
    .projects--container{
        display: flex;
        flex-direction: column;
        gap: 30px;
        align-items: center;
        justify-content: center;
        .projects--header{            
            display: grid;
            grid-template-columns: 1fr auto;
            align-items: center;  
            column-gap: 70px;         
            h2{
                font-size: 4rem;
                font-weight: 600;
            }
            a{
                position: relative;
                span{
                    text-transform: uppercase;
                    font-size: 1.5rem;
                    letter-spacing: 2px;
                    font-weight: 200;
                    &::after {
                        content: "";
                        position: absolute;
                        left: 0;
                        bottom: -8px;                
                        width: 100%;                   
                        height: 2px;                   
                        background-color: var.$green;  
                        border-radius: 5px;           
                    }
                }
            }
        }
        article.projects--card{            
            position: relative;
            outline: none;
            display: flex;
            flex-direction: column;
            gap: 10px;
            &:focus-within{
                .projects--img img{
                    opacity: 0.3;
                }
                .skills--a-container{
                    position: absolute;
                    display: flex;
                    flex-direction: column;
                    gap: 50px; 
                    bottom: 150px;   
                    left: 100px;
                    a:hover{
                        color: var.$green;
                    }                    
                                    
                }
            }
            .projects--img{
               transition: opacity .3s ease; 
            }
            h3{
                font-weight: 400;
                text-transform: uppercase;
                font-size: 1.8rem;
            }
            p{
                font-weight: 300;
                font-size: 1.5rem;
            }
            .skills--a-container{
                margin-top: 10px;
                display: flex;
                gap: 30px;
                align-items: center;
                justify-content: flex-start;
                a{
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    font-weight: 200;
                    font-size: 1.4rem;
                    span{
                        position: relative;
                        &::after{
                            content: "";
                            position: absolute;
                            background-color: var.$green;
                            height: 2px;
                            width: 100%;
                            border-radius: 5px;
                            bottom: -12px;
                            left: 0;
                        }
                    }
                }
            }
        }
    }

  /* Tablet (≥768px) */
  @include mx.tablet {
    
  }

  /* Desktop (≥1440px) */
  @include mx.desktop {
    
  }

}




