@use "../abstracts/mixins" as mx;
@use "../abstracts/variables" as var;

section.skills{ 
    overflow-x: hidden;      
    .skills--limit{
        width: 90%;
        height: 1px;
        align-self: center;        
        margin-bottom: 50px;
        margin-top: 70px;
        opacity: 0.5;
    }
    .skills--container{
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 40px;
        align-items: center;
        justify-content: center;
        &::before{
            content: "";
            position: absolute; 
            top: 500px;
            left: 200px;
            width: 200%;
            aspect-ratio: 400 / 129;                     
            background-image: url("../../img/icon/oval-pattern.svg");
            background-repeat: no-repeat;
            background-size: 100% auto;
            pointer-events: none;
            z-index: -100;
        }
        .skills--unit{
            display: flex;
            flex-direction: column;
            gap: 2px;
            align-items: center;
            justify-content: center;
        }               
    }

  /* Tablet (≥768px) */
  @include mx.tablet {
    .skills--container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 20px;
        justify-content: stretch;
        align-items: start;
        margin-left: 50px;
        max-width: 80%;
         &::before{
            content: "";
            position: absolute; 
            top: 200px;
            left: 500px;
            width: 80%;
            aspect-ratio: 400 / 129;                     
        }
        .skills--unit{
            display: flex;
            flex-direction: column;
            gap: 20px;
            align-items: flex-start;
            justify-content: center;
            h3{
                font-size: 4rem;
            }
        }
        
    }
     hr.skills--limit.limit--bottom { display: none !important; }        
    }
    /* Desktop (≥1440px) */
    @include mx.desktop {
        margin-bottom: 200px;
        .skills--container{
            padding-left: 5%;
            grid-template-columns: 1fr 1fr 1fr;
            column-gap: 20px;
            justify-content: stretch;
            align-items: start;            
            max-width: 80%;
            &::before{
                content: "";
                position: absolute; 
                top: 80px;
                left: 1000px;
                width: 50%;                       
            }
            .skills--unit{
                display: flex;
                flex-direction: column;
                gap: 20px;
                align-items: flex-start;
                justify-content: center;
                h3{
                    font-size: 4rem;
                }
            }
            
        }
    }
}



