@use "../abstracts/mixins" as mx;
@use "../abstracts/variables" as var;

section.skills{
    margin: 0 auto;    
    .skills--limit{
        width: 90%;
        height: 1px;
        align-self: center;
        margin: 0 auto;
        margin-bottom: 50px;
        margin-top: 70px;
        opacity: 50%;
    }
    .skills--container{
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 40px;
        align-items: center;
        justify-content: center;
        &::before{
            content: "";
            position: absolute; 
            top: 500px;
            left: 200px;
            width: 200%;
            aspect-ratio: 400 / 129;                     
            background-image: url("../../img/icon/oval-pattern.svg");
            background-repeat: no-repeat;
            background-size: 100% auto;
            pointer-events: none;
            z-index: -100;
        }
        .skills--unit{
            display: flex;
            flex-direction: column;
            gap: 2px;
            align-items: center;
            justify-content: center;
        }               
    }
}




/* Mobile moderno (≥375px) */
  @include mx.mobile {
    
  }

  /* Tablet (≥768px) */
  @include mx.tablet {
    
  }

  /* Desktop (≥1440px) */
  @include mx.desktop {
    
  }
