@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mx;

body {
  background-color: var.$black; 
}
.container {
  width: 100%;  
  margin-inline: auto;
  padding-inline: 16px; // mobile

  @include mx.tablet {
    padding-inline: 0;
  }

  @include mx.desktop {
    padding-inline: 0;
    max-width: 1440px;
    margin: 5% auto;
  }
}
