// Breakpoints
$bp-desktop: 1440px;
$bp-tablet: 768px;


// Mixins mobile-first

@mixin tablet {
  @media (min-width: $bp-tablet) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $bp-desktop) {
    @content;
  }
}